{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    {% for product in products %}
    <div class="col-lg-4 col-md-6 col-12">
        <img src="{{product.imageURL}}" alt="" class="thumbnail">
        <div class="box-element product">
            <h6><strong>{{product.name}}</strong></h6>
            <hr>
            <button data-product={{product.id}} data-action="add" class="btn btn-outline-warning add-btn update-cart">Добавить
                <img src="{% static 'images/cart.png' %}" width="20px" alt="">
            </button>
            <a href="#" class="btn btn-outline-success">Посмотреть
                <img src="{% static 'images/glass.png' %}" width="20px" alt="">
            </a>
            <h5 class="d-inline float-right" style="margin-top: 5px">${{product.price}}</h5>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}